# Database connection host use fix as in docker-compose.yml
DB_USER=user
DB_PASS=pass
DB_NAME=taxassistant

# Ollama url
OLLAMA_URL=http://ollama_host:ollama_port

# Optional: App configuration
APP_ENV=development
LOG_LEVEL=info
